@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,700;1,300&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  color: #767676;
  background-color: aliceblue;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
}

.mazal {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 30px;
  padding: 20px;
  font-weight: 700;
  color: #007bff;
}


.bs1{
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.ant-row{
  margin: 0 20;
}
.spinner{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 9999;
}

p{
  margin: 5px;
  
  padding: 0;
}
.btn1{
  box-shadow: none;
  background-color : white;
  color: coral;
  border: 2px solid coral;
  padding: 5px 15px;
  outline: none ;
  font-weight: bold;
}
.bt1:focus{
  border: none;
}
.bt1:hover {
  color : white;
  background-color: coral;
}
button{
  padding: 3px 10px;
}
.header{
  padding: 15px;
  
}
.header .ant-btn{
  box-shadow: none;
  background-color : white;
  color: coral;
  border: 2px solid coral;
  outline: none;
  padding: 0 20px;
  font-weight: bold;
}
.ant-btn:hover {
  color : white;
  background-color: coral;
}
.content{
  min-height: 90vh;
  
}
.footer{
  background-color: aliceblue;
  padding: 10px;
}

.login-logo {
 
  text-align: center;
  font-size: 30px;
  padding: 20px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}
.login {
   font-family: 'Montserrat', sans-serif;
    
}

/* this is just for ui purpose , no functionality is related */
.car{
  border-radius: 5px;
  margin-top: 100px;
  height: 160px;
  transition: 0.3s;
}
.car:hover{
  height :220px;
}
.car:hover > .car-content{

    opacity: 1;
    transform : translateY(-40px)

}
.carimg{
  height:180px;
  width: auto;
  border-radius: 5px;
  transform: translateY(-50px);
}
.car-content{
  transform: translateY(-200px);
  opacity: 0;
  transition: 0.3s;
}
.login{
  background-color: black;
  padding-top: 50px;
  min-height: 100vh;
}
.login label , .login h1{
  color: white !important;
  opacity: 0.6;
}
.login-form{
  background-color: #1F1F1F;
}
.login-form input{
  background-color: #333333 !important;
  border : none !important;
  color: white;
  opacity: 0.5;
}
.login-logo{
  position: absolute;
  left:0;
  right:0;
  top: 60%;
  bottom: 50%;
  transform: translateY(-50% , -50%);
  font-size:45px;
  opacity: 0.2 !important;
  

}
.login a{
  color: white !important;
  
}

.carimg2{
  height: 400px;
  border-radius: 10px;
  width: auto;
}

svg{
  height:20px !important;
  width : 20px !important;
}
a{
  color: orangered !important;
}